*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    width: 100px;
}

.menu-hamburguesa {
    width: 25px;
}

.section1 {
    background-color: #529CF1;
    color: white;
    padding-top: 70px;
    padding-bottom: 30px;
    padding-inline: 20px;
    width: 100%;
}

.section1__h1 {
    font-size: 48px;
    padding-bottom: 15px;
}

.section1__h4 {
    padding-bottom: 20px;
    font-size: 24px;
}

.section1__button {
    background-color: #26B758;
    color: white;
    font-size: 12px;
    width: 100%;
    padding-block: 15px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
}

.section1__parrafo-condiciones {
    font-size: 13px;
}

.section2 {
    padding-top: 30px;
    padding-bottom: 70px;
}

.section2__h2 {
    font-size: 35px;
    text-align: center;
    padding-bottom: 10px;
}

.section2__icono-benefit {
    display: flex;
    flex-direction: column;
    width: 90px;
    height: auto;
}

.section2__texto-benefit {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    font-size: 20px;
}

.section2__texto-sin-negrita {
    font-size: 16px;
}

.section2__article {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 40px;
}

.footer {
    background-color: black;
    color: white;
    font-size: 12px;
    padding-inline: 20px;
    padding-block: 40px;
    
}

a {
    text-decoration: none;
    color: white;
}

.footer__españa {
    display: flex;
    flex-direction: ron-reverse;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

.footer__icono-españa {
    width: 30px;
    padding-bottom: 20px;
}

.footer__texto-españa {
    padding-bottom: 20px;

}

.footer__legal-cookies {
    display: flex;
    gap: 20px;
}

.footer__legal-cookies-copyright {
    display: flex;
    gap: 205px;
    padding-bottom: 25px;



}






